.aboutTitle{
    font-size : 250%;
}
.aboutContainer{
    background: white;
    min-height: calc(100vh - 125px);
    width: 100%;
}

.aboutOurStoryArea{
    background : transparent;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
}

.aboutOurStoryText{
    vertical-align: middle;
    text-align: center;
    line-height: normal;
    margin: 0!important;
    align-self: center;
    padding-left : 3em;
    padding-right : 3em;
    max-width: 1000px;
}

.aboutOurMembersArea{
    background : #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
}

.aboutOurMembersText{
    border-top : 1px #303030 solid ;
    width : 80%;
    vertical-align: middle;
    text-align: center;
    margin: 0!important;
    align-self: center;
}

.aboutOurMembersIconLayout{

}