.about-container{
    background: white;
    min-height: calc(100vh - 125px);
    width: 100%;
}

.about-ourstory-section{
    background : transparent;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center;
}
.about-ourstory-text{
    width : 70%;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    margin: 0!important;
    align-self: center;
    padding-left : 3em;
    padding-right : 3em;
    max-width: 1000px;
}
.about-ourstory-description{
    text-align : left!important;
}
.aboutOurMembersArea{
    background : #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
}

.aboutOurMembersText{
    border-top : 1px #303030 solid ;
    width : 80%;
    vertical-align: middle;
    text-align: center;
    margin: 0!important;
    align-self: center;
}
