#blog-container{
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    min-height: calc(100vh - 110px);
    width: 100%;
}

#blog-entries{
    background: white;
    width: 100%;
    max-width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

#blog-title{
    font-size: 250%;
    text-align: center;
}

#blog-subTitle{
    font-size: 150%;
    color: gray;
    text-align: center;
}


.blogEntry-preview{
    margin-bottom: 50px;
}

.blogEntry-previewText{
    display: block;
    font-size: 125%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blogEntry-content{
    display: block;
    font-size: 125%;
    margin-bottom: 10px;
}

.blogEntry-header{
    font-size: 250%;
    text-align: left;
}

.blogEntry-title{
    font-size: 200%;
    text-align: left;
}

.blogEntry-date{
    color: gray;
    margin-top: -10px;
}

