/*Global CSS declarations*/
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: green;
}

@font-face {
    font-family: montserrat;
    src: url(/montserrat/Montserrat-Regular.otf);
}

h1, h2, p, ul, li {
    font-family: montserrat;
}

.masterContainer{
    box-shadow: none;
    border: none;
    outline: none;
    background-color: #5D4037;
}