/*Global CSS declarations*/
*{
    margin: 0;
    padding: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

body {
    background-color: #ffffff;
}

@font-face {
    font-family: montserrat;
    src: url(/montserrat/Montserrat-Light.otf);
}

@font-face {
    font-family: montserrat-Bold;
    src: url(/montserrat/Montserrat-Regular.otf);
}

h1, h2, p, ul, li {
    font-family: montserrat;
}

.masterContainer{
    box-shadow: none;
    border: none;
    outline: none;
    background-color: #303030;
}


b{
  font-family: montserrat-Bold;
}

.center-block{
    text-align: center;
}