.home-page{
    position: relative;
    width: 100%;
    background: #FFFFFF;
}

.home-intro{
    height:100%;
    background-color: white;
    color: #303030;
}

.home-sections-header{
    border: none;
    min-height: 50vh;
    display: flex;
    justify-content: center;
}

.home-header-section{
    width: 100%;
    border: none;
    height: 50vh;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}

.home-header-text{
    width: 100%;
    color: inherit;
    text-align: center;
    line-height: normal;
    margin: 0!important;
    align-self: center;
}

.home-trestle-description-section{
    justify-content: center;
    width: 100%;
    max-width: 2000px;
    display: block;
    margin : auto;
}

.home-trestle-description-text{
    text-align: center;
    width: 100%;
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right : auto;
}

.home-description-section{
    justify-content : center;
    width : 100%;
    height: auto;
    max-width : 1100px;
    margin : auto;
    display:block;
}

.home-sections{
    border: none;
    min-height: 50vh;
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.home-section0{
    min-height: calc(100vh - 75px);
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    background-color: #3498db;
    color: white;
}

.home-section1{
    min-height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    background-color: #3498db;
    color: white;
}

.home-section2{
    min-height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 25px;
    padding-top: 25px;
    display:block;
    background-color: white;
    color: #303030;
}

.home-section3{
    min-height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -25px;
    padding-bottom: 25px;
    padding-top: 25px;
    display:block;
    background-color: #3498db;
    color: white;
}

.home-description-image{

    align-self:center;
    margin-left:auto;
    margin-right:auto;

}

.home-description-text{
    margin-top: 15vh;
}


.home-description-text-left{
    margin-left : 2vw;
    text-align: left;
}


.home-description-text-right{
    margin-right : 2vw;
    text-align: left;
}


.home-features-section{
    text-align : center;
    justify-content : center;
    background-color : #FFFFFF;
    color: #303030;
    width : 100%;
    max-width : 1000px;
    margin : auto;
    display:block;
}

.home-features-image{
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

.home-features-text{
    max-width : 350px;
}

.home-subscribe-section{
    position: relative;
    background: #3498db;
    border : none;
    display : flex;
    justify-content : center;
    width : 100%;
    margin : auto;
    padding-bottom: 15px;
}

.home-subscribe-text{
    text-align: center;
    line-height: normal;
    margin: 0!important;
    padding: 5px;
    color: white;
}

.home-button {
    border: white solid;
    border-radius: 5px;
    outline: none;
    clear: both;
    font-size: 150%;
    padding: 10px 25px;
    position: relative;
    background-color: transparent;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: white;
}

.home-button:hover{
    background-color: white;
    color: #3498db;
}

.home-email-box{
    background: transparent;
    border : none;
    outline: none;
    width: 100%;
    min-width: 100px;
    border-bottom: 2px solid #dbdbdb;
    color: white;
}

.videoPreview{
    opacity: .85;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.home-gogoLogo{
    height:10em;
    width: 10em;
}

.home-gogo{
    background-color: #303030;
    color: white;
    padding-bottom: 15px;
    padding-top: 15px;
}

.home-gogoSection{
    height: auto;
}

.home-gogoTextSection{
    justify-content: center;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.home-gogoFont{
    text-transform: uppercase;
    font-size: 250%;
    text-align: center;
    width: 100%;
    color: inherit;
    margin: 0!important;
}

.home-gogoImage{
    background: url('/assets/gogo1.png') no-repeat center center;
    background-size: contain;
    height:7em;
    width:7em;
}

.videoPreview:hover{
    opacity: 1;
}

.ghost{
    display: none;
}

@media screen and (min-width: 992px) {
    .home-header-text {
        text-align: left;
    }
    .home-header-section{
        margin-top: 0;
        min-height: calc(100vh - 75px);
    }
    .home-section0{
        min-height: calc(100vh - 75px);
    }
    .home-sections{
        min-height: 100vh;
    }
    .home-sections-header{
        min-height: calc(100vh - 75px);
    }
    .home-gogoFont{
        display: flex;
        text-align: right;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: antiquewhite;
}
::-moz-placeholder { /* Firefox 19+ */
    color: antiquewhite;
}
:-ms-input-placeholder { /* IE 10+ */
    color: antiquewhite;
}
:-moz-placeholder { /* Firefox 18- */
    color: antiquewhite;
}

a:hover{
    color: #FFA330;
}
