.homePage{
    position: relative;
    top: -75px;
    width: 100%;
    background: #FFFFFF;
}

.homeHeaderArea{
    width: 100%;
    border: none;
    height: calc(75vh + 75px);
    display: flex;
    justify-content: center;
}

.homeHeaderText{
    color: White;
    text-align: center;
    line-height: normal;
    margin: 0!important;
    align-self: center;
}

.home-trestle-description-section{
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 1750px;
    display: block;
    margin-left: auto;
    margin-right:auto;
}
.home-trestle-description-text{
    text-align: center;
    background-color: #FFFFFF;
    width: 50%;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right : auto;
}

.home-description-section{
    justify-content : center;
    background-color : #FFFFFF;
    width : 80%;
    max-width : 1750px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
.home-description-image{
    vertical-align: middle;
    align-self:center;
    margin-left:auto;
    margin-right:auto;
}
.home-description-text{
    vertical-align: middle;
    align-self: center;
    margin-left : auto;
    margin-right : auto;
}

.home-features-section{
    text-align : center;
    justify-content : center;
    background-color : #FFFFFF;
    width : 80%;
    max-width : 1750px;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.home-features-image{
    height: 70px;
    width: 70px;
    margin: 0 auto;
}

.home-features-text{

}

.home-subscribe-section{
    position: relative;
    background: #303030;
    width : 100%;
    border : none;
    height : 50vh;
    top: 75px;
    display : flex;
    justify-content : center;
    border-bottom: 2px solid gray;
}


.home-subscribe-text{
    color: White;
    text-align: center;
    line-height: normal;
    margin: 0!important;

}
.home_intro{

}



.homeDescriptionIconLayout{
    position: relative;
    height: 100%;
    width : 100%;

}
.home_emailButton{
    clear: both;
    font-size: 125%;
    padding-right: 25px;
    padding-left: 25px;
}
.home-email-box{
    background: transparent;
    border : none;
    outline: none;
    width: 100%;
    min-width: 100px;

    font-size: 125%;
    border-bottom: 2px solid white;
}
.signMeUpButton:hover:enabled{
    background-color: white;
    color: #303030;
    border-color: white;
}

.home_landingPage p{
    font-size: 125%;
}

.ghost{
    display: none;
}