.export-image{
    background: url('/assets/Export.png') no-repeat center center;
    background-size: contain;
}
.full-screen-image{
    background: url('/assets/Fullscreen.png') no-repeat center center;
    background-size: contain;
}
.layoutPng{
    background: url('/assets/layout.png') no-repeat center center;
    background-size: contain;
}
.save-image{
    background: url('/assets/Save.png') no-repeat center center;
    background-size: contain;
    margin-top: 5%;
}
.sentence-focus-image{
    background: url('/assets/SentenceFocus.png') no-repeat center center;
    background-size: contain;
    margin-top: 5%;
}
.sheetsPng{
    background: url('/assets/sheets.png') no-repeat center center;
    background-size: contain;
}
.syntax-image{
    background: url('/assets/Syntax.png') no-repeat center center;
    background-size: contain;
}
.themes-image{
    background: url('/assets/Themes.png') no-repeat center center;
    background-size: contain;
    margin-top: 5%;
}
.widgets-image{
    background: url('/assets/Widgets.png') no-repeat center center;
    background-size: contain;
}
.homeBgImagePng{
    background : url('/assets/homeBackgroundImage.png') no-repeat center center;
    background-size: cover;
}

.blackLayoutPng{
    background : url('/assets/blackLayout.png') no-repeat center center;
    background-size: contain;
}

.whiteSheetsPng{
    background : url('/assets/whiteSheets.png') no-repeat center center;
    background-size: contain;
}

.blackSheets2Png{
    background : url('/assets/blackSheets2.png') no-repeat center center;
    background-size: contain;
}

.whiteWidgetsPng{
    background : url('/assets/whiteWidgets.png') no-repeat center center;
    background-size: contain;
}