.homeLink{
    color: #F5F5F5;
}

.navBar{
    background-color: transparent;
    border: none;
    margin: 0;
    outline: 0;
    height: 75px;
}
.navBar-logo {
    position: absolute;
    float: left !important;
    display: block;
    background: url('/assets/ryeLogo.png') no-repeat center center;
    background-size: contain;
    width: 75px;
    padding: 0!important;
    margin-left: 25px;
}

.navBar-navButton{
    height: 100%;
    float: right;
}