.homeLink{
    color: #F5F5F5;
}

.navBarLogo {
    position: relative;
    float: left !important;
    margin-top: 25px;
    left : 30px;
    display: block;
    background: url('/assets/ryeLogo.png') no-repeat center center;
    background-size: contain;
    width:100px;
}

.navBarLogo:hover{
    cursor: pointer!important;
}

.navBarButton {
    height: 100%;
    padding: 50px;
    float: right;
}