.title-brandname{
    font-size : 333%;
    font-weight : bold;
    text-align : center;
}
.description-brandname{
    font-size : 133%;
    text-align : center;
}
.title-section{
    font-size : 233%;
    font-weight : bold;
    text-align: center;

}
.title-section-small{
    font-size: 25px;
    font-weight : bold;
    text-aling : center;

}
.subtitle-section{
    font-size : 18px;
    font-weight : bold;

}
.description-section{
    font-size : 93%;
}
.description-section-big{
    font-size :120%;
}
