@font-face {
    font-family: Lato-Regular;
    src: url("assets/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: Lato-Bold;
    src: url("assets/Lato/Lato-Bold.ttf");
}

h1, h2, p, ul, li {
    font-family: Lato-Regular;
}

b{
    font-family: Lato-Bold;
}

h1{
    font-size: 5rem;
    font-weight: 700;
}

h2{
    position: relative;
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
    color: #EA005E;
}

p{
    font-size: 2.0rem;
}

.description{
    font-size: 2.00em;
}

@media (max-width: 750px){

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 2.5rem;
    }

    h3{
        font-size: 2rem;
        color: darkgrey;
    }

    p {
        font-size: 1.50rem;
    }

    .description{
        font-size: 1.50em;
    }
}