
.title{
    text-align : center;
    font-size: 350%;
    font-weight: bold;

}

.titleDescription{
    text-align: center;
    font-size : 150%

}

.subtitle{
    text-align : center;
    font-size : 200%;
    font-weight:bold;
}

.discription{
    text-align: left;
    font-size : 125%;
    color:#454545;
}

.texttitle{
    margin-top: 15px;
    font-size : 200%;
    font-weight:bold;
    color:#454545;
}